#!/home/nvmourik/src/rulebook/rulebook
- kde.notify: "Switching to daylight..."
- plasma.wallpaper: "$KDEWALLPAPER/Next/"
- kde.colorscheme: "$KDEDATA/color-schemes/174578-Material.colors"
- kde.icon_theme: "breeze"
- kde.widget_style: "breeze"
- plasma.theme: "openSUSElight"
- konsole.default_profile:
  - "day.profile"
#  - konsole.restart:
#    - kde.notify: "Restarted konsole"
- yakuake.default_profile:
   - "nielsvm.profile"
   - yakuake.restart:
     - run_script: "$HOME/.config/autostart/yakuake.sh"
- atomio.config_find_replace:
  - "atom-dark-ui"
  - "atom-light-ui"
- atomio.config_find_replace:
  - "atom-dark-syntax"
  - "atom-light-syntax"
- kde.notify: "Done!"
